In [85]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

import warnings
warnings.filterwarnings("ignore")

In [86]:
df = pd.read_csv("datos.csv")

df

,Fecha,Periodo,Año,Mes,Asset Code,N° Noches,N° Pasajeros,Mascota,Canal de Venta,Precio x Noche,Precio [$CLP] IVA Inc,Tax Booking,Clean Up,IVA 19%,Medio de Pago,Boleta/Factura,Pago en USD,Precio [$CLP] Neto
0,2022-01-02,2022-01,2022,Enero,C1,1,5,0,Venta Directa,70000.000,70000.0,0.000000,1,11176.470588,TEF,BOL,0,58823.529412
1,2022-01-04,2022-01,2022,Enero,C1,1,5,0,Airbnb,75000.000,75000.0,2677.500000,1,11974.789916,TEF,BOL,0,63025.210084
2,2022-01-05,2022-01,2022,Enero,C1,1,5,0,Venta Directa,75000.000,75000.0,0.000000,1,11974.789916,TEF,BOL,0,63025.210084
3,2022-01-06,2022-01,2022,Enero,C1,1,6,0,Booking,97104.000,97104.0,13566.000000,1,15504.000000,TEF,BOL,1,81600.000000
4,2022-01-11,2022-01,2022,Enero,C1,1,5,0,Booking,92248.000,92248.0,12887.588235,1,14728.672269,TEF,BOL,1,77519.327731
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,2024-09-13,2024-09,2024,Septiembre,C1,2,4,0,Booking,201457.000,402914.0,47401.647059,0,64330.806723,Transbank,BOL,1,338583.193277
373,2024-09-14,2024-09,2024,Septiembre,C2,3,7,0,Venta Directa,150000.000,450000.0,0.000000,0,71848.739496,Transbank,BOL,0,378151.260504
374,2024-09-18,2024-09,2024,Septiembre,C2,1,4,0,Airbnb,330000.000,330000.0,11781.000000,0,52689.075630,Transbank,BOL,0,277310.924370
375,2024-09-18,2024-09,2024,Septiembre,C1,4,6,0,Booking,231674.125,926696.5,109023.117647,0,147959.945378,Transbank,BOL,1,778736.554622
376,2024-09-19,2024-09,2024,Septiembre,C2,3,6,0,Venta Directa,180000.000,540000.0,0.000000,0,86218.487395,Transbank,BOL,0,453781.512605

In [87]:
df = pd.read_csv("datos.csv")

# Obtener porcentaje cobrado de Tax
df['Tasa_tax'] = df['Tax Booking']/(df['Precio x Noche']*df['N° Noches'])
df.fillna(0, inplace=True)
df['Tasa_tax'] = np.round(df['Tasa_tax'], 2)
df.drop(axis=1, columns='Tax Booking', inplace=True)

df

,Fecha,Periodo,Año,Mes,Asset Code,N° Noches,N° Pasajeros,Mascota,Canal de Venta,Precio x Noche,Precio [$CLP] IVA Inc,Clean Up,IVA 19%,Medio de Pago,Boleta/Factura,Pago en USD,Precio [$CLP] Neto,Tasa_tax
0,2022-01-02,2022-01,2022,Enero,C1,1,5,0,Venta Directa,70000.000,70000.0,1,11176.470588,TEF,BOL,0,58823.529412,0.00
1,2022-01-04,2022-01,2022,Enero,C1,1,5,0,Airbnb,75000.000,75000.0,1,11974.789916,TEF,BOL,0,63025.210084,0.04
2,2022-01-05,2022-01,2022,Enero,C1,1,5,0,Venta Directa,75000.000,75000.0,1,11974.789916,TEF,BOL,0,63025.210084,0.00
3,2022-01-06,2022-01,2022,Enero,C1,1,6,0,Booking,97104.000,97104.0,1,15504.000000,TEF,BOL,1,81600.000000,0.14
4,2022-01-11,2022-01,2022,Enero,C1,1,5,0,Booking,92248.000,92248.0,1,14728.672269,TEF,BOL,1,77519.327731,0.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,2024-09-13,2024-09,2024,Septiembre,C1,2,4,0,Booking,201457.000,402914.0,0,64330.806723,Transbank,BOL,1,338583.193277,0.12
373,2024-09-14,2024-09,2024,Septiembre,C2,3,7,0,Venta Directa,150000.000,450000.0,0,71848.739496,Transbank,BOL,0,378151.260504,0.00
374,2024-09-18,2024-09,2024,Septiembre,C2,1,4,0,Airbnb,330000.000,330000.0,0,52689.075630,Transbank,BOL,0,277310.924370,0.04
375,2024-09-18,2024-09,2024,Septiembre,C1,4,6,0,Booking,231674.125,926696.5,0,147959.945378,Transbank,BOL,1,778736.554622,0.12
376,2024-09-19,2024-09,2024,Septiembre,C2,3,6,0,Venta Directa,180000.000,540000.0,0,86218.487395,Transbank,BOL,0,453781.512605,0.00

In [95]:
df['Medio de Pago'].unique()

array(['TEF', 'Transbank', 'Efectivo'], dtype=object)

In [88]:
from sklearn.preprocessing import OneHotEncoder

In [94]:
# Inicializamos el OneHotEncoder
encoder = OneHotEncoder(drop='first', sparse_output=False)  # drop='first' elimina una columna dummy para evitar colinealidad

# Aplicamos el encoder a las 3 columnas categóricas
encoded_columns = encoder.fit_transform(df[['Canal de Venta', 'Medio de Pago']])

# Obtener los nombres de las nuevas columnas
encoded_column_names = encoder.get_feature_names_out(['Canal de Venta', 'Medio de Pago'])

# Crear un DataFrame con las columnas codificadas
encoded_df = pd.DataFrame(encoded_columns, columns=encoded_column_names)

# Concatenar el DataFrame codificado con el original (sin las columnas categóricas)
df_final = pd.concat([df.drop(['Canal de Venta', 'Medio de Pago'], axis=1), encoded_df], axis=1)

# Imprimir el resultado
df_final

,Fecha,Periodo,Año,Mes,Asset Code,N° Noches,N° Pasajeros,Mascota,Precio x Noche,Precio [$CLP] IVA Inc,Clean Up,IVA 19%,Boleta/Factura,Pago en USD,Precio [$CLP] Neto,Tasa_tax,Canal de Venta_Booking,Canal de Venta_Venta Directa,Medio de Pago_TEF,Medio de Pago_Transbank
0,2022-01-02,2022-01,2022,Enero,C1,1,5,0,70000.000,70000.0,1,11176.470588,BOL,0,58823.529412,0.00,0.0,1.0,1.0,0.0
1,2022-01-04,2022-01,2022,Enero,C1,1,5,0,75000.000,75000.0,1,11974.789916,BOL,0,63025.210084,0.04,0.0,0.0,1.0,0.0
2,2022-01-05,2022-01,2022,Enero,C1,1,5,0,75000.000,75000.0,1,11974.789916,BOL,0,63025.210084,0.00,0.0,1.0,1.0,0.0
3,2022-01-06,2022-01,2022,Enero,C1,1,6,0,97104.000,97104.0,1,15504.000000,BOL,1,81600.000000,0.14,1.0,0.0,1.0,0.0
4,2022-01-11,2022-01,2022,Enero,C1,1,5,0,92248.000,92248.0,1,14728.672269,BOL,1,77519.327731,0.14,1.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
372,2024-09-13,2024-09,2024,Septiembre,C1,2,4,0,201457.000,402914.0,0,64330.806723,BOL,1,338583.193277,0.12,1.0,0.0,0.0,1.0
373,2024-09-14,2024-09,2024,Septiembre,C2,3,7,0,150000.000,450000.0,0,71848.739496,BOL,0,378151.260504,0.00,0.0,1.0,0.0,1.0
374,2024-09-18,2024-09,2024,Septiembre,C2,1,4,0,330000.000,330000.0,0,52689.075630,BOL,0,277310.924370,0.04,0.0,0.0,0.0,1.0
375,2024-09-18,2024-09,2024,Septiembre,C1,4,6,0,231674.125,926696.5,0,147959.945378,BOL,1,778736.554622,0.12,1.0,0.0,0.0,1.0
376,2024-09-19,2024-09,2024,Septiembre,C2,3,6,0,180000.000,540000.0,0,86218.487395,BOL,0,453781.512605,0.00,0.0,1.0,0.0,1.0

> AIRBNB y Pago en efectivo no aparecen debido a que ocacionarian problemas de multicoliniealidad.

Pendientes:
- Transformar variables en binarias
- Transformar binarias en float.
- Transformar ciclicas en float.
- 


- Armar el problema de clasificación de moneda de pago...